// workflow parameters
params {
  
  dataDir = "data"
  resultsDir = "results"
  pipeline = 'download'

  recount.metadata_prepare = 'conf/expression_prepare_table.csv'
  recount.norm =['TPM']
  recount.min_tpm=[1]
  recount.frac_samples=[0.0001,0.1,0.2]
  recount.th_purity=[1,0.7]

  //tissues{
    //tcga_luad = ['all','tumor','normal']
    //tcga_blca = ['all','tumor','normal']
  //  }

}


// include basic process configuration options
includeConfig 'conf/base.config' 

// Change this to the appropriate one
//includeConfig 'conf/download_metadata.config' 