
params {

  dataDir = "data"
  resultsDir = "results" // keep this local for testing
  pipeline = 'download'
  logInfoFile = 'log-info.txt'

  recount.metadata_prepare = 'conf/expression_prepare_table.csv'
  recount.norm =['tpm']
  recount.min_tpm=[1]
  recount.frac_samples=[0.0001,0.2]
  recount.th_purity=[0.00001,0.5]

  tissues{
    tcga_luad = ['all']
    }

  batch_correction{
    tcga_coad = ['tcga.gdc_platform']
    }

  zoo.animals = ['panda','otter_lioness','panda_lioness']


  // parameters for TCGA
  zoo.motif = "/Users/violafanfani/Documents/uni-harvard/projects/tcga-data/MotifPriorGencode_p5.txt"
  zoo.ppi = "/Users/violafanfani/Documents/uni-harvard/projects/tcga-data/ppi_Gencode_p5.txt"
  zoo.panda_lioness = "--with_header --fmt h5 --computing cpu --precision single --mode_process intersection --save_single_lioness  --as_adjacency --ignore_final"
  zoo.otter_lioness = " --fmt h5 --precision single --iterations 3"



}


// include basic process configuration options
includeConfig 'conf/base.config'

// Change this to the appropriate one
includeConfig 'conf/download_metadata_empty.config'

trace.overwrite = true