// workflow parameters
params {
  
  dataDir = "data"
  resultsDir = "results"
  pipeline = 'download'

  recount.metadata_prepare = 'conf/expression_prepare_table.csv'
  recount.norm =['TPM']
  recount.th=[0.1]

}


// include basic process configuration options
includeConfig 'conf/base.config' 

// Change this to the appropriate one
//includeConfig 'conf/download_metadata.config' 