// CONDA envronments

process {
    withLabel: 'merge_tables' {
        conda = '$baseDir/containers/conda_envs/merge_tables.yml'
    }

    withLabel: 'r_download' {
        conda = 'containers/conda_envs/r_all.yml'
    }

	withLabel: 'prepare_expression' {
		conda = 'containers/conda_envs/r_all.yml'
	
	}

	withLabel: 'prepare_methylation' {
		conda = 'containers/conda_envs/r_all.yml'
	}

	withLabel: 'analyze_pandas' {
		conda = 'containers/conda_envs/analysis.yml'
	}

	withLabel: 'analyze_dragon' {
		conda = 'containers/conda_envs/analysis.yml'
	}

}