// CONDA envronments

process {
    withLabel: 'merge_tables' {
        conda = 'containers/conda_envs/merge_tables.yml'
    }

    withLabel: 'r_download' {
        conda = 'containers/conda_envs/r_all.yml'
    }

	withLabel: 'prepare_expression' {
		conda = 'containers/conda_envs/r_all.yml'
	
	}

	withLabel: 'prepare_methylation' {
		conda = 'containers/conda_envs/r_all.yml'
	}

	withLabel: 'netzoopy_panda' {
		conda = 'containers/conda_envs/analysis.yml'
	}

	withLabel: 'netzoopy_pandalioness' {
		conda = 'containers/conda_envs/analysis.yml'
	}

	withLabel: 'netzoopy_dragon' {
		conda = 'containers/conda_envs/analysis.yml'
	}

	withLabel: 'netzoopy_dragonlioness' {
		conda = 'containers/conda_envs/analysis.yml'
	}

}