clinical_tcgabiolinks{
	tcga_brca{ 
		  project = "TCGA-BRCA" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_gbm{ 
		  project = "TCGA-GBM" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_ov{ 
		  project = "TCGA-OV" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_luad{ 
		  project = "TCGA-LUAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_ucec{ 
		  project = "TCGA-UCEC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_kirc{ 
		  project = "TCGA-KIRC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_hnsc{ 
		  project = "TCGA-HNSC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_lgg{ 
		  project = "TCGA-LGG" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_thca{ 
		  project = "TCGA-THCA" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_lusc{ 
		  project = "TCGA-LUSC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_prad{ 
		  project = "TCGA-PRAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_skcm{ 
		  project = "TCGA-SKCM" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_coad{ 
		  project = "TCGA-COAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_stad{ 
		  project = "TCGA-STAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_blca{ 
		  project = "TCGA-BLCA" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_lihc{ 
		  project = "TCGA-LIHC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_cesc{ 
		  project = "TCGA-CESC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_kirp{ 
		  project = "TCGA-KIRP" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_sarc{ 
		  project = "TCGA-SARC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_laml{ 
		  project = "TCGA-LAML" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_esca{ 
		  project = "TCGA-ESCA" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_paad{ 
		  project = "TCGA-PAAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_pcpg{ 
		  project = "TCGA-PCPG" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_read{ 
		  project = "TCGA-READ" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_tgct{ 
		  project = "TCGA-TGCT" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_thym{ 
		  project = "TCGA-THYM" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_kich{ 
		  project = "TCGA-KICH" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_acc{ 
		  project = "TCGA-ACC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_meso{ 
		  project = "TCGA-MESO" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_uvm{ 
		  project = "TCGA-UVM" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_dlbc{ 
		  project = "TCGA-DLBC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_ucs{ 
		  project = "TCGA-UCS" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_chol{ 
		  project = "TCGA-CHOL" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
}