params{
  download_metadata{
    methylation_gdc{
        tcga_luad{
            project= "TCGA-LUAD"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
        tcga_brca{
            project= "TCGA-BRCA"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
    }
  }
}
