params{
  download_metadata{
    expression_recount3{
        tcga_luad{
            project= "LUAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_lung{
            project= "LUNG"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
    }
    mutation_tcgabiolinks{
        tcga_luad{
            project= "TCGA-LUAD"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
    }
    clinical_tcgabiolinks{
        tcga_luad{
            project= "TCGA-LUAD"
            data_category = "Clinical"
            data_type = "Clinical Supplement"
            data_format = "BCR Biotab"
          }
          tcga_brca{
            project= "TCGA-BRCA"
            data_category = "Clinical"
            data_type = "Clinical Supplement"
            data_format = "BCR Biotab"
          }
    }
  }
}

