params{
  download_metadata{
    expression_recount3{
        tcga_blca{
            project= "BLCA"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_lung{
            project= "BLADDER"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
    }
    mutation_tcgabiolinks{
        tcga_blca{
            project= "TCGA-BLCA"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
    }
    methylation_gdc{
        tcga_blca{
            project= "TCGA-BLCA"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
    }
    clinical_tcgabiolinks{
        tcga_blca{
            project= "TCGA-BLCA"
            data_category = "Clinical"
            data_type = "Clinical Supplement"
            data_format = "BCR Biotab"
          }
    }
  }
}
