params{
	  download_metadata{
    expression_recount3{
        tcga_luad{
            project= "LUAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
        	} 
		}
    methylation_gdc{
        tcga_blca{
            project= "TCGA-BLCA"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
    }    
	}
}