params{
  download_metadata{
    expression_recount3{
        tcga_luad{
            project= "LUAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_lung{
            project= "LUNG"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          }
        tcga_brca{
            project= "BRCA"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_breast{
            project= "BREAST"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          }
        tcga_coad{
            project= "COAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_colon{
            project= "COLON"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          }
        tcga_prad{
            project= "PRAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_prostate{
            project= "PROSTATE"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          }
        tcga_paad{
            project= "PAAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_pancreas{
            project= "PANCREAS"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          }
        tcga_laml{
            project= "LAML"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          } 
        gtex_blood{
            project= "BLOOD"
            project_home = "data_sources/gtex"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
          }
    }
    mutation_tcgabiolinks{
        tcga_luad{
            project= "TCGA-LUAD"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
        tcga_brca{
            project= "TCGA-BRCA"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
        tcga_coad{
            project= "TCGA-COAD"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
        tcga_prad{
            project= "TCGA-PRAD"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
        tcga_paad{
            project= "TCGA-PAAD"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
        tcga_laml{
            project= "TCGA-LAML"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
          }
    }
    methylation_gdc{
        tcga_luad{
            project= "TCGA-LUAD"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
        tcga_brca{
            project= "TCGA-BRCA"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
        tcga_coad{
            project= "TCGA-COAD"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
        tcga_prad{
            project= "TCGA-PRAD"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
        tcga_paad{
            project= "TCGA-PAAD"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
        tcga_laml{
            project= "TCGA-LAML"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
          }
    }
    clinical_tcgabiolinks{
        tcga_luad{
            project= "TCGA-LUAD"
            data_category = "Clinical"
            data_format = "Clinical Supplement"
            data_type = "BCR Biotab"
          }
        tcga_brca{
          project= "TCGA-BRCA"
          data_category = "Clinical"
          data_type = "Clinical Supplement"
          data_format = "BCR Biotab"
        }
        tcga_coad{
          project= "TCGA-COAD"
          data_category = "Clinical"
          data_type = "Clinical Supplement"
          data_format = "BCR Biotab"
        }
        tcga_prad{
          project= "TCGA-PRAD"
          data_category = "Clinical"
          data_type = "Clinical Supplement"
          data_format = "BCR Biotab"
        }
        tcga_laml{
          project= "TCGA-LAML"
          data_category = "Clinical"
          data_type = "Clinical Supplement"
          data_format = "BCR Biotab"
        }
    }
  }
}
