tcga_brca{ 
	  project = "TCGA-BRCA" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_gbm{ 
	  project = "TCGA-GBM" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_ov{ 
	  project = "TCGA-OV" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_luad{ 
	  project = "TCGA-LUAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_ucec{ 
	  project = "TCGA-UCEC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_kirc{ 
	  project = "TCGA-KIRC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_hnsc{ 
	  project = "TCGA-HNSC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_lgg{ 
	  project = "TCGA-LGG" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_thca{ 
	  project = "TCGA-THCA" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_lusc{ 
	  project = "TCGA-LUSC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_prad{ 
	  project = "TCGA-PRAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_skcm{ 
	  project = "TCGA-SKCM" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_coad{ 
	  project = "TCGA-COAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_stad{ 
	  project = "TCGA-STAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_blca{ 
	  project = "TCGA-BLCA" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_lihc{ 
	  project = "TCGA-LIHC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_cesc{ 
	  project = "TCGA-CESC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_kirp{ 
	  project = "TCGA-KIRP" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_sarc{ 
	  project = "TCGA-SARC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_laml{ 
	  project = "TCGA-LAML" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_esca{ 
	  project = "TCGA-ESCA" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_paad{ 
	  project = "TCGA-PAAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_pcpg{ 
	  project = "TCGA-PCPG" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_read{ 
	  project = "TCGA-READ" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_tgct{ 
	  project = "TCGA-TGCT" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_thym{ 
	  project = "TCGA-THYM" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_kich{ 
	  project = "TCGA-KICH" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_acc{ 
	  project = "TCGA-ACC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_meso{ 
	  project = "TCGA-MESO" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_uvm{ 
	  project = "TCGA-UVM" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_dlbc{ 
	  project = "TCGA-DLBC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_ucs{ 
	  project = "TCGA-UCS" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_chol{ 
	  project = "TCGA-CHOL" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
