
    expression_recount3{
      tcga_brca{
        project= "BRCA"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_gbm{
        project = "GBM",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_ov{ 
        project = "OV",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_luad{ 
        project = "LUAD",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene" 
      }
      tcga_ucec{ 
        project = "UCEC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_kirc{ 
        project = "KIRC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_hnsc{ 
        project = "HNSC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_lgg{ 
        project = "LGG",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_thca{ 
        project = "THCA",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_lusc{ 
        project = "LUSC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_prad{ 
        project = "PRAD",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_skcm{ 
        project = "SKCM",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_coad{ 
        project = "COAD",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_stad{ 
        project = "STAD",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_blca{ 
        project = "BLCA",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_lihc{ 
        project = "LIHC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_cesc{ 
        project = "CESC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_kirp{ 
        project = "KIRP",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_sarc{ 
        project = "SARC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_laml{ 
        project = "LAML",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_esca{ 
        project = "ESCA",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_paad{ 
        project = "PAAD",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_pcpg{ 
        project = "PCPG",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_read{ 
        project = "READ",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_tgct{ 
        project = "TGCT",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_thym{ 
        project = "THYM",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_kich{ 
        project = "KICH",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_acc{ 
        project = "ACC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_meso{ 
        project = "MESO",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_uvm{ 
        project = "UVM",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_dlbc{ 
        project = "DLBC",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_ucs{ 
        project = "UCS",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      tcga_chol{ 
        project = "CHOL",
        project_home = "data_sources/tcga",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_brain{
        project = "BRAIN",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_skin{
        project = "SKIN",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_esophagus{
        project = "ESOPHAGUS",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_blood_vessel{
        project = "BLOOD_VESSEL",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_adipose_tissue{
        project = "ADIPOSE_TISSUE",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_blood{
        project = "BLOOD",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_heart{
        project = "HEART",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_muscle{
        project = "MUSCLE",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_colon{
        project = "COLON",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_thyroid{
        project = "THYROID",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_nerve{
        project = "NERVE",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_lung{
        project = "LUNG",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_breast{
        project = "BREAST",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_testis{
        project = "TESTIS",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_stomach{
        project = "STOMACH",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_pancreas{
        project = "PANCREAS",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_pituitary{
        project = "PITUITARY",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_adrenal_gland{
        project = "ADRENAL_GLAND",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_prostate{
        project = "PROSTATE",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_spleen{
        project = "SPLEEN",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_liver{
        project = "LIVER",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_bone_marrow{
        project = "BONE_MARROW",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_ovary{
        project = "OVARY",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_small_intestine{
        project = "SMALL_INTESTINE",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_salivery_gland{
        project = "SALIVARY_GLAND",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_vagina{
        project = "VAGINA",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_uterus{
        project = "UTERUS",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_kidney{
        project = "KIDNEY",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_bladdar{
        project = "BLADDER",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_cervix_uteri{
        project = "CERVIX_UTERI",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
      gtex_fallopian_tube{
        project = "FALLOPIAN_TUBE",
        project_home = "data_sources/gtex",
        organism = "human",
        annotation = "gencode_v26",
        type = "gene"
      }
    }