
params {

  dataDir = "data"
  resultsDir = "results/full_test/" // keep this local for testing
  pipeline = 'full'
  logInfoFile = 'log-info.txt'

  full.tcga_project = 'tcga_blca'

  recount.metadata_prepare = 'conf/expression_prepare_table.csv'
  recount.norm =['tpm']
  recount.min_tpm=[1]
  recount.frac_samples=[0.1]
  recount.th_purity=[0.3]

  tissues{
    tcga_luad = ['all']
    tcga_blca = ['all']
    }

  batch_correction{
    tcga_coad = ['tcga.gdc_platform']
    tcga_luad = ['null']
    }

  methylation.probe_map = '/Users/violafanfani/Documents/uni-harvard/workflows/tcga-data-nf/bin/r/local_assets/450k_promoter_probe_map_TSS200_TSS0_one_probe_to_many_genes.csv'//'s3://projectstcga/data/raw-data/mapping/450k_promoter_probe_map_TSS200_TSS0_one_probe_to_many_genes.csv'
  methylation.tf_list = '/Users/violafanfani/Documents/uni-harvard/workflows/tcga-data-nf/bin/r/local_assets/TF_names_v_1.01.txt' //'s3://projectstcga/data/raw-data/mapping/methylation/TF_names_v_1.01.txt'
  methylation.levine_exclusion = 's3://projectstcga/data/raw-data/mapping/methylation/levine_gene_exclusions.csv'
  methylation.metadata_prepare = 'conf/methylation_prepare_table.csv'
  methylation.to_npn = 'FALSE'
  methylation.to_mval = 'TRUE'

  zoo.animals = ['panda'] // 'otter_lioness','panda_lioness'


  // parameters for TCGA
  zoo.motif = "/Users/violafanfani/Documents/uni-harvard/projects/tcga-data/MotifPriorGencode_p5.txt"
  zoo.ppi = "/Users/violafanfani/Documents/uni-harvard/projects/tcga-data/ppi_Gencode_p5.txt"
  zoo.panda_lioness = "--with_header --fmt h5 --computing cpu --precision single --mode_process intersection --save_single_lioness  --as_adjacency --ignore_final"
  zoo.otter_lioness = " --fmt h5 --precision single --iterations 3"
  zoo.panda = "--with_header --as_adjacency --mode_process intersection"

  full_metadata{
    tcga_luad{
    expression_recount3{
            project= "LUAD"
            project_home = "data_sources/tcga"
            organism = "human"
            annotation = "gencode_v26"
            type = "gene"
            samples = "/Users/violafanfani/Documents/uni-harvard/workflows/tcga-data-nf/testdata/tcga_luad_samples.txt"
          } 
    mutation_tcgabiolinks{
            project= "TCGA-LUAD"
            data_category = "Simple Nucleotide Variation"
            data_type = "Masked Somatic Mutation"
            download_dir = "gdc_tcga_mutation"
            samples = "/Users/violafanfani/Documents/uni-harvard/workflows/tcga-data-nf/testdata/tcga_luad_mutation_samples.txt"
          }
    clinical_tcgabiolinks{
            project= "TCGA-LUAD"
            data_category = "Clinical"
            data_type = "Clinical Supplement"
            data_format = "BCR Biotab"
            }
    methylation_gdc{
            project= "TCGA-LUAD"
            gdc_type = "methylation_beta_value"
            gdc_platform = "illumina human methylation 450"
            download_dir = "gdc_tcga_methylation"
            samples = "/Users/violafanfani/Documents/uni-harvard/workflows/tcga-data-nf/testdata/tcga_luad_samples.txt"
          }
    }
  }
}
