params{
  prepare_metadata{
    tcga_recount{
        tcga_luad{
            project= "LUAD"
            tcga_file = "testdata/recount3/tcga_luad.rds"
            patient_file = "testdata/recount3/clinical_patient_luad.csv"
            tissues = ["all","tumor","normal"]
          } 
      }
    }
  }

