// define resources available for SGE
executor {
	name = 'sge'
	cpus   = 32
	memory = 96.GB
	queueSize = 50
}
	
process {
    executor='slurm'
    queue = 'dev'
    cpus = 8


	memory = '30GB'
    clusterOptions = '--exclusive --constraint m5a2xlarge'

	withLabel:process_low {
		cpus = 1
		memory = 2.GB
	}
	withLabel:process_medium {
		cpus = 4
		memory = 8.GB
	}
	withLabel:process_high {
		cpus = 8
		memory = 16.GB
	}

	withLabel:process_ultra {
		cpus = 16
		memory = 48.GB
	}

}

