// profile to test the workflow
params {
  // pipeline = 'analyze' 
  metadata = "testdata/metadata_tcga_testdata.csv"

	batch_correction{
    tcga_paad = ['tcga.gdc_platform']
    }

  dataDir = "testdata"
  resultsDir = "results" // keep this local for testing
  logInfoFile = 'test-log-info.txt'

  zoo.animals = ['panda','panda_lioness']


  tissues{
    tcga_paad = ['all']
    }


}

executor {
	name = 'local'
	cpus   = 16
	memory = 48.GB
}
	
process {	
	cpus = 4
	memory = 32.GB

}
