// profile to test the workflow
params {
  resultsDir = "results"
  inputFile = "testdata/mydata.txt"
  rInputFile = "mtcars.csv"
  pipeline = 'python'

	batch_correction{
    tcga_paad = ['tcga.gdc_platform']
    }

  dataDir = "testdata"
  resultsDir = "results" // keep this local for testing
  pipeline = 'prepare'
  logInfoFile = 'test-log-info.txt'

  recount.metadata_prepare = 'conf/prepare_testdata.csv'
  recount.norm =['logtpm']
  recount.min_tpm=[1]
  recount.frac_samples=[0.0001,0.2]
  recount.th_purity=[0.1]

  tissues{
    tcga_paad = ['all']
    }


}

executor {
	name = 'local'
	cpus   = 16
	memory = 48.GB
}
	
process {	
	cpus = 4
	memory = 32.GB

}
