// profile to test the workflow
params {

  batchName = 'test'

	batch_correction{
    tcga_luad = ['tcga.gdc_platform']
    tcga_paad = ['null']
    }

  dataDir = "testdata"
  logInfoFile = 'test-log-info.txt'

 
  full.tcga_project = 'tcga_luad'

  recount.metadata_prepare = 'testdata/prepare_recount_metadata.csv'
  recount.norm =['tpm']
  recount.min_tpm=[1]
  recount.frac_samples=[0.0001,0.2]
  recount.th_purity=[0.1]

  methylation.metadata_prepare = 'testdata/prepare_methylation_metadata.csv'


  zoo.animals = ['panda','panda_lioness']


  tissues{
    tcga_paad = ['all']
    tcga_luad = ['all']
    }

  
full_metadata = 'testdata/full_json.json'
download_metadata = 'testdata/download_json.json'

}

executor {
	name = 'local'
	cpus   = 16
	memory = 48.GB
}
	
process {	
	cpus = 4
	memory = 32.GB

}


dag{
  enable = true
  verbose = false//true
  file = 'dags/dag-test.html'
  direction = 'LR'
}